
session 2

In [2]:
#input
name=input(" enter a name ")

In [3]:
type(name)

str

In [5]:
age=int(input(" enter age"))
print(age)

12

In [ ]:
#comparison int float str
#object opr object
x=5
y=1
x>y

True

In [8]:
type(x>y)

bool

In [ ]:
#logic ...> boolean
#object opr object
a= True
b= False
a | b
a or b

True

In [ ]:
a and b
a & b

False

In [13]:
x =5
t =None
not x

False

In [16]:
name=input("enter name")
print(name)
age=int(input("enter age"))
print(age)
gpa=float(input("enter gpa"))
print(gpa)

omar
19
3.38

In [17]:
age >= 18

True

In [18]:
gpa>=3.0

True

In [24]:
adult= age>18
gba=gpa>3.0
eligable=adult & gba
print(eligable)

True

In [28]:
age =18
if age < 18:
    print("you can not apply")
elif age == 18:
    print("pass")    
else:
    print("you can apply")

pass

In [30]:
x=int(input("enter a number"))
print(x)
if x>0:
    print("positive")
elif x==0:
    print("zero")
else:
    print("negative")

10
positive

In [31]:
y= 13
if y%2==0:
    print("Even")
else:
    print("odd")

odd

In [32]:
s=int(input())
print(s)

30

In [ ]:
x=input().lower()
if x=="red":
    print("stop")
elif x=="yellow":
    print("slow down")
else:
    print("go")

stop

In [37]:
st = "ana"
rev= st[::-1]
if st ==rev:
    print("palandrome")
else:
    print("not palandrome")

palandrome

In [38]:
x=int(input())
b=100
amount=x-b
if amount>100:
    print("valid")
else:
    print("invalid")

invalid

In [41]:
x=0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [40]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [44]:
st="hello"
for i in range(0,len(st)):
    print(st[i])

h
e
l
l
o

In [45]:
for c in st :
    print(c)

h
e
l
l
o

In [46]:
st="ali"
v="aeiou"
count=0
for c in st:
    if c in v:
        count +=1
print(count)

2

In [47]:
s1="aabbcc"
s2="abcde"
for i in s1:
    for j in s2:
        if i== j:
            print(i)

a
a
b
b
c
c

In [48]:
s1="aabbcc"
s2="abcde"
for i, j in zip(s1,s2):
    if i==j:
        print(i)

a

In [49]:
s1="aabbcc"
for i ,c in enumerate(s1):
    print(i,"         ",c)

0           a
1           a
2           b
3           b
4           c
5           c

In [11]:
print("enter a word")
s=input()
print(s)
c=0
z=0
for i in s:
    if s.isupper():
        c+=1
    elif s.islower():
        z+=1
print(len(s))
print("upper",c)
print("lower",z)

enter a word
OMar
4
upper 0
lower 0

In [ ]:
b=1000
while True:
    print("deposit press 1, withdraw press 2")
    i=int(input())
    if i==1:
        print ("enter the deposit value")
        a=int(input())
        b=b+a
        print ("new balalnce ",b)
    elif i==2:
        print ("enter the withdraw value")
        d=int(input())
        b=b-d
        print ("new balalnce ",b)
    else:
        break

deposit press 1, withdraw press 2
enter the deposit value
new balalnce  1050
deposit press 1, withdraw press 2