In [1]:
ls=["omar",True,1,3.8]
ls.remove(1)
ls

['omar', 1, 3.8]

In [12]:
t=(1,3,5,4,6,2)
l=list(t)
l.sort()

In [13]:
l

[1, 2, 3, 4, 5, 6]

In [14]:
t=tuple(l)
t

(1, 2, 3, 4, 5, 6)

In [6]:
lst=[2,1,5,5,6,5,5]
x=5
l=lst.copy()
for i in range(len(l)):
    if x == l[i]:
        lst.remove(x)
    print(l[i])

2
1
5
5
6
5
5

In [4]:
lst

[2, 1, 6]

In [29]:
#function
def welcome () :
    """
    this function say hello
    """
    
    print("welcome")

In [30]:
welcome.__doc__

'\n    this function say hello\n    '

In [31]:
len.__doc__

'Return the number of items in a container.'

In [32]:
welcome()

welcome

In [37]:
def sq (num):
    print(num**2)

In [38]:
sq(5)

25

In [40]:
def sum(x,y):
    print(x+y)

In [41]:
sum(1,2)

3

In [42]:
#tuple
t=(1,2,3,4,5,6,7)
x,*y,z=t

In [44]:
y

[2, 3, 4, 5, 6]

In [2]:
def s_sum(*a):
    print(sum(a))

In [3]:
s_sum(1,2,3)

6

In [1]:
def o(x,y):
    s=x+y
    return s

In [2]:
s=o(2,3)

In [3]:
s

5

In [4]:
def c(num,st):
    return num + st

In [5]:
c(2,"k")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
#arguments
#positional
def sq (num,/):
    print(num**2)

In [9]:
sq(5)

25

In [13]:
#keyword
def sq (*,num):
    print(num**2)

In [14]:
sq(num=5)

25

In [15]:
#standard
def sq (num):
    print(num**2)

In [17]:
sq(5)

25

In [19]:
def get(num="5"):
    if num=="5":
        print("empty")
    else:
        print(num**2)

In [21]:
get()

empty

In [67]:
get(2)

4

In [69]:
def types(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [70]:
types(2)

True

In [81]:
def fun(s):
    v="aeiou"
    c=0
    for i in s:
        if i in v:
            print("vowels are ",i)
            c+=1
        else:
            print("there is no vowels")
    return c

In [83]:
fun("omar")

vowels are  o
there is no vowels
vowels are  a
there is no vowels

2

In [86]:
def check_pass(ps):
    if len(ps)<8:
        return False
    else:
        flag_d=False
        flag_u=False
    for c in ps:
        if c.isdigit():
            flag_d=True
        elif c.isupper():
            flag_u=True
    return flag_u and flag_d

In [87]:
check_pass("Aomsdddedced1")

True

In [90]:
#lambda
def double(num) :
    return num *2

In [92]:
l = lambda num : num * 2
lm = lambda x , y : x* y

In [93]:
lm(5,8)

40

In [94]:
#map
lst = [1,2,3,4]
out = []
for i in lst:
    out.append(i*2)

In [96]:
lm  = lambda num : num * 2
lst = [1,2,3,4]
list(map(lm , lst))

[2, 4, 6, 8]

In [97]:
# filter
lst = [0,1,2,3,4,5,6,7,8,9,10]
is_even=lambda x : x % 2 ==0
list(filter(is_even,lst))

[0, 2, 4, 6, 8, 10]

In [24]:
m=lambda *ma: max(*ma)
m(1,2,3,4,5,6,7,8,9)

9

In [ ]:
lst=[1,2,3,4,5,6]
l=lambda x:x**2
list(map(l,lst))

[1, 4, 9, 16, 25, 36]

:

In [98]:
lst = [(5,6),(1,1),(6,7)]
sorted(lst,key=lambda x : x[1])

[(1, 1), (5, 6), (6, 7)]

In [102]:
try:
    print("hi")
except:
    print("error in try")
else:
    print("in else")

hi
in else

In [104]:
try:
    print("hi")
except:
    print("error in try")
finally:
    print("finally")

hi
finally

In [1]:
#raise
x="8"
if not isinstance(x , int):
    raise TypeError("only int")

TypeError: only int

In [4]:
def operation(x,y):
    return sum([x,y]) , max(x,y)

In [5]:
operation(5,6)

(11, 6)