In [ ]:
int #class

In [ ]:
x=5#5 is data attributes
y=8
z=7#objects

In [ ]:
lst = [1,2,3,4]#object type list

In [ ]:
#class
class my_class:
    pass

In [ ]:
#object,instance
c=my_class()

In [ ]:
#attributes(object,class)
#methods(object,class,magic,static)

In [ ]:
class person:
    name="ali"

In [ ]:
p=person()
x=person()
y=person()

In [ ]:
#attributes
p1=person()
p2=person()
p2.name

In [1]:
class person:
    def __init__(self,fname):
        self.name=fname

In [3]:
p1=person("ali")

In [5]:
p2=person("omar")

In [6]:
p1.name

'ali'

In [7]:
#person class>obj attr(name,age)
class person:
    def __init__(x,fname,age):
        x.name=fname
        x.age=age

In [16]:
p1=person("ali",20)
p2=person("Omar",21)
p1.age
p1.name

'ali'

In [11]:
id(p1.age)

140729427237912

In [17]:
id(p2.age)

140729427237944

In [19]:
x=5
id(x)

140729427237432

In [20]:
y=5
id(y)

140729427237432

In [ ]:
#object methods
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def print_info(self):
        print(f"the name is{self.name}, the age is {self.age}")

In [32]:
person.print_info()

TypeError: person.print_info() missing 1 required positional argument: 'self'

In [33]:
p=person("ali",40)

In [35]:
p.print_info()

the name isali, the age is 40

In [41]:
class person:
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
        self.welcome()
        
    def welcome(self):
        if self.gender=="female":
            print("welcome miss")
        elif self.gender=="male":
            print("welcome mr")
        else:
            print("welcome")

In [42]:
p=person("mai",20,"female")

welcome miss

In [1]:
class car:
    def __init__(self,brand,model,year):
        self.brand=brand
        self.model=model
        self.year=year
        self.start_engine()
        self.car_info()
        
    def start_engine(self):
        print("the engine of ",self.brand,self.model,"is now running")
        
    def car_info(self):
        print("the car is a ",self.year,self.brand,self.model)

In [2]:
c=car("nissan","sunny",2000)

the engine of  nissan sunny is now running
the car is a  2000 nissan sunny

In [3]:
c.brand

'nissan'

In [4]:
#attributes class
class account:
    count=0
    def __init__(self,num):
        self.num_acc=num
        account.count+=1

In [5]:
account.count

0

In [6]:
acc1=account(322345000)
acc2=account(322345000)
acc3=account(322345000)
acc4=account(322345000)
acc5=account(322345000)

In [7]:
account.count

5

In [ ]:
class person:
    def __init__(self,name,age ):
        self.name=name
        self.age=age
        
    @classmethod
    def get_data(cls,data_str):
        name,age=data_str.split("-")
        return name,int(age)

In [56]:
name,age=person.get_data("yassmin-50")

In [57]:
age

50

In [58]:
p=person(name,age)

In [61]:
p=person.get_data("yassmin-50")

In [62]:
p.name

AttributeError: 'tuple' object has no attribute 'name'

In [3]:
class person:
    not_allowed_names=["hey","hello","welcome","*"]
    def __init__(self,name):
        try:
            self.check(name)
            self.name=name
        except:
            print("not allowed")
    def check(self,name):
        if name not in person.not_allowed_names :
            print("welcome",name)
        else:
            raise ValueError("not allowed")

In [4]:
p=person("*")

not allowed

In [5]:
#static method
class operation:
    @staticmethod
    def aDd(x,y):
        print(x+y)

In [6]:
operation.aDd(5,4)

9

In [7]:
#magic method
class person:
    def __init__(self,name):
        self.name=name

In [8]:
x=int(5)

In [9]:
print(x)

5

In [10]:
p=person("mai")

In [11]:
print(p)

<__main__.person object at 0x0000016CE0F7B7A0>

In [ ]:
#magic used for print ,len , operation,...

In [8]:
class person:
    def __init__(self,name):
        self.name=name
    def __str__(self):
        return f"the name is {self.name}"
    
    
class op:
    def __init__(self,value):
        self.value=value
    def __add__(self, other):
        return op(self.value +other.value)

In [9]:
x=op(5)
y=op(4)

In [ ]:
x.__add__(y)

<__main__.op object at 0x000001DD1808DD00>

In [13]:
p=person("mai")

In [14]:
print(p)

the name is mai

In [15]:
dir(p)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'name']